* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: nunito;
    src: url(Nunito/Nunito-Regular.ttf);
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background: url(images/wallpaper.jpg);
    background-size:cover;    
    background-attachment:fixed;
    background-position: center;
    font-family: nunito;
}

.titre_page {
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*Menu admin*/

nav {
    width: 100%;
    height: 80px;
    background-color: #114d61;
    display: flex;
    box-shadow: 3px 0 12px 2px #114d61ab;
}

#container {
    transition: .3s ease-in-out;
    width: 20%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container:hover {
    transition: .3s ease-in-out;
    cursor: pointer;
    border-bottom-right-radius: 100px;
}

#menu_liste {
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    color: #fff;
    font-size: 21px;
}

#menu_liste li {
    transition: .3s ease;
}

#menu_liste li:hover {
    transition: .3s ease;
    text-shadow: 0px 0px 15px #fff;
}

#menu_logo {
    height: 48px;
}

/*Connexion admin*/

.formulaire_titre {
    color: #fff;
    font-size: 20px;
    margin-bottom: 75px;
}

.formulaire_admin {
    width: 100%;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #114d61;
    padding-top: 50px;
}

.formulaire_admin input {
    padding: 8px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    width: 250px;
    margin-bottom: 40px;
    color: #114d61;
    font-size: 15px;
}

::placeholder {
    color: #114d61;
    font-size: 15px;
}

/* carte lien de l'accueil admin*/

.carte_admin {
    transition: .2s ease;
    width: 28%;
    min-height: 250px;
    height: auto;
    padding: 15px;
    margin-top: 40px;
    color: #fff;
    background-color: #114d61;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px 1px #114d61;
}

.carte_admin:hover {
    cursor: pointer;
    transition: .5s ease;
    height: auto;
    padding: 15px;
    margin-top: 40px;
    color: #114d61;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 7px 1px #114d61;
}

.carte_admin__image {
    margin-top: 15px;
    width: 64px;
}

.carte_admin__titre {
    font-family: nunito;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

.carte_admin__description {
    font-family: nunito;
    font-size: 17px;
    margin-top: 15px;
    text-align: center;
    width: 75%;
}

.titre_page {
    width: 100%;
    color: #114d61;
    margin: 30px 0 30px 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.add-form_adherent {
    width: 100%;
    height: auto;
    margin: 50px auto;
    padding: 50px 5% 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #114d61;
}

.add-form_input{
    width: 250px;
    padding: 8px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    height: 35px;
    margin-top: -10px;
}

.add-form_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: auto;
    margin-bottom: 30px;
}

.submit_div{
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    width: 150px;
    padding: 8px;
    border: none;
    background-color: #fff;
    color: #114d61;
    border-radius: 2px;
    height: 35px;
    margin-top: 30px;
}

.add-form_adherent label {
    padding: 0 0 0 4px;
    color: #fff;    
}

/* ADMIN Affichage des ahérents */

.container_carte {
    width: 100%;
    margin: 50px 0 50px 0;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carte-adherent {
    width: 30%;
    background-color: #fff;
    color: #114d61;
    height: auto;
    padding: 15px 5px 15px 5px;
    border-radius: 2px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 1px #114d61ab;
}

.carte-adherent_top {
    width: 95%;
    display: flex;
    height: auto;
    background-color: #114d61;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 auto 10px auto;
    border-radius: 2px;
}

.carte-adherent_top__texte {
    width: 70%;
    height: auto;
    font-size: 20px;
    overflow: hidden;
    padding-left: 8px;
    color: #fff;
}

.carte-adherent_top__options {
    padding-top: 4px;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

#modifier {
    background: url(images/modifier.svg);
    border: none;
    color: #114d61;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
}

#supprimer {
    background: url(images/supprimer.svg);
    border: none;
    color: #114d61;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
}

#annuaire {
    background: url(images/annuaire_white.svg);
    border: none;
    color: #114d61;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
}

#modifier:hover, #supprimer:hover, #annuaire:hover {
    cursor: pointer;
}

.carte-adherent_ligne {
    width: 98%;
    display: flex;
    height: auto;
    padding-left: 2%;
}

.carte-adherent_icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 40px;
}

.carte-adherent_texte {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 40px;
    font-size: 19px;
    padding-left: 8px;
}

@media screen and (max-width:1200px) {
    .carte_admin {
        width: 45%;
    }
    .carte-adherent {
        width: 45%;
    }
}

@media screen and (max-width:800px) {
    .carte_admin {
        width: 45%;
    }
    .carte-adherent {
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    .carte-adherent {
        width: 90%;
    }
    .carte_admin {
        width: 90%;
        margin-top: 15px;
    }
}

/*Annuaire des adhérents*/

.carte-annuaire-adherent {
    width: 45%;
    background-color: #fff;
    color: #114d61;
    height: auto;
    padding: 15px 5px 15px 5px;
    border-radius: 2px;
    margin-bottom: 40px;
}

.carte-annuaire-adherent_top {
    width: 95%;
    display: flex;
    height: auto;
    background-color: #114d61;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 auto 10px auto;
    border-radius: 2px;
}

.carte-annuaire-adherent_top__texte {
    width: 80%;
    height: auto;
    font-size: 20px;
    overflow: hidden;
    padding-left: 8px;
    color: #fff;
}

.carte-adherent_top__liens {
    padding-top: 4px;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.carte-annuaire-adherent_ligne {
    width: 98%;
    display: flex;
    height: auto;
    padding-left: 2%;
}

.carte-annuaire-adherent_top__entreprise {
    font-size: 21px;
}

.carte-annuaire-adherent_top__activite {
    font-size: 18px;
}

.barre_options {
    width: 100%;
    height: auto;
    margin: 30px 0 30px 0;
    background-color: #114d61;
    padding: 30px;
}

.options_formulaire {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.options_select {
    height: 35px;
    width: 200px;
    background: #fff;
    color: #114d61;
    border: none;
    padding: 8px 10px;
    border-radius: 2px;
}

.options_select:hover {
    cursor: pointer;
}

option{
    color: #114d61;
    padding: 8px;
}

.options_submit {
    height: 35px;
    width: 125px;
    background: #fff;
    color: #114d61;
    border: none;
    padding: 8px 10px;
    border-radius: 2px;
}

.options_submit:hover {
    cursor: pointer;
    color: #a11815;
}